@model ArchivoUH.Models.AdministrativeViewModel

<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" type="image/x-icon" href=@Url.Content("~/Images/icon.ico") />
    <title>Formulario</title>

    <!-- Custom fonts for this template-->
    <link href="~/sbAdmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/sbAdmin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <!-- Render the Sidebar like partial view-->
        @{
            Html.RenderPartial("_Sidebar");
        }

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <!-- Render the Topbar like partial view in page content -->
                @{
                    Html.RenderPartial("_Topbar");
                }


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Add Elements Here... -->
                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Formulario: Añadir Documento Administrativo</h1>

                    <div class="card-body">
                        <div class="border-left-warning">
                            <div class="card-body">
                                Las secciones o campos señalados con (*) son obligatorios, inserte datos que cumplan
                                con los requirimientos especificados
                            </div>
                        </div>
                    </div>

                    @using (Html.BeginForm("Create", "Administratives", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        if (ViewBag.ShowValidation)
                        {
                            <div class="card-body">
                                <div class="border-left-danger">
                                    <div class="card-body">
                                        @Html.ValidationSummary()
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Serial del Documento <i class="fas fa-asterisk"></i></h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="border-left-success">
                                            <div class="card-body">
                                                El Serial se compone de dos partes ambas de 3 números, para
                                                los archivos administrativos su tipo siempre es <i class="font-weight-bold">ADM</i>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <label class="h6 col-md-2">Serial 1</label>
                                            @Html.EditorFor(m => m.Serial1, new { htmlAttributes = new { @class = "form-control col-md-2" } })
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <label class="h6 col-md-2">Serial 2</label>
                                            @Html.EditorFor(m => m.Serial2, new { htmlAttributes = new { @class = "form-control col-md-2" } })
                                        </div>
                                    </div>
                                </div>
                                <center>
                                    <a class="btn btn-success btn-icon-split">
                                        <input type="submit" value="Añadir" class="btn btn-success" />
                                        <span class="icon text-white-50">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </a>
                                </center>

                            </div>

                            <div class="col-lg-6">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Información Asociada</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="border-left-success">
                                            <div class="card-body">
                                                El campo nombre es obligatorio, debe seleccionar la palabra clave asociada al documento
                                                administrativo. La introducción de una breve descripción sobre este es opcional
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <label class="h6 col-md-3">Nombre*</label>
                                            @Html.EditorFor(m => m.AdministrativeName, new { htmlAttributes = new { @class = "form-control col-md-5" } })
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <label class="h6 col-md-3">Palabra Clave*</label>
                                            @Html.DropDownListFor(m => m.KeyWordId, (SelectList)ViewBag.KeyWords, new { @class = "form-control col-md-5" })
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <label class="h6 col-md-3">Descripción</label>
                                            @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "form-control col-md-5" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <!-- Rendering Page Footer like partial view -->
            @{
                Html.RenderPartial("_Footer");
            }

        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal -->
    <!-- Render Logout Modal for all view -->
    @{
        Html.RenderPartial("_LogoutModal");
    }

    <!-- Bootstrap core JavaScript-->
    <script src="~/sbAdmin/vendor/jquery/jquery.min.js"></script>
    <script src="~/sbAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/sbAdmin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/sbAdmin/js/sb-admin-2.min.js"></script>

</body>

</html>
