@model ArchivoUH.Models.GraduatedViewModel

<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Detalles</title>

    <!-- Custom fonts for this template-->
    <link href="~/sbAdmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/sbAdmin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <!-- Render the Sidebar like partial view-->
        @{
            Html.RenderPartial("_Sidebar");
        }

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <!-- Render the Topbar like partial view in page content -->
                @{
                    Html.RenderPartial("_Topbar");
                }


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Add Elements Here... -->
                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Detalles de Graduado</h1>

                    <div class="card-body">
                        <div class="card shadow mb-4 col-lg-6">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Detalles</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Opciones Rápidas:</div>
                                        @Html.ActionLink("Editar", "Edit", new { id = Model.GraduatedId }, new { @class = "dropdown-item" })
                                        @Html.ActionLink("Eliminar", "Delete", new { id = Model.GraduatedId }, new { @class = "dropdown-item" })
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <dl class="dl-horizontal">
                                    <dt>
                                        Serial
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(m => m.Formatter)
                                    </dd>
                                    <dt>
                                        Nombre y Apellidos
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(m => m.FirstName)
                                        @Html.DisplayFor(m => m.LastName)
                                    </dd>
                                    <dt>
                                        Facultad
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(m => m.CurrentFaculty)
                                    </dd>
                                    <dt>
                                        Serial de Facultad
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(m => m.FacultyFormatter)
                                    </dd>
                                    <dt>
                                        Carrera
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(m => m.CurrentCourse)
                                    </dd>
                                    <dt>
                                        Serial de UH
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(m => m.UHFormatter)
                                    </dd>
                                    <dt>
                                        Nacionalidad
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(m => m.CountrySelected)
                                    </dd>
                                    <dt>
                                        Fechas de Finalización y Expedición
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(m => m.FinishTime) --- @Html.DisplayFor(m => m.ExpeditionTime)
                                    </dd>
                                    <dt>
                                        Causas
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(m => m.ExpeditionCauses)
                                    </dd>
                                    <dt>
                                        Observaciones
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(m => m.Observations)
                                    </dd>
                                    <dt>
                                        Galardones
                                    </dt>
                                    <dd>
                                        Título de Oro: @Html.DisplayFor(m => m.GoldTitle)
                                        <br />
                                        Mérito Científico: @Html.DisplayFor(m => m.ScientistCredit)
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <!-- Rendering Page Footer like partial view -->
            @{
                Html.RenderPartial("_Footer");
            }

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal -->
    <!-- Render Logout Modal for all view -->
    @{
        Html.RenderPartial("_LogoutModal");
    }

    <!-- Bootstrap core JavaScript-->
    <script src="~/sbAdmin/vendor/jquery/jquery.min.js"></script>
    <script src="~/sbAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/sbAdmin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/sbAdmin/js/sb-admin-2.min.js"></script>

</body>

</html>
